$primer-color: #ebdec3;
$segundo-color: #ed9a47;
$tercer-color: #d67540;
$cuarto-color: #bdd9d5;
$quinto-color:#89aba6;
$sexto-color:#6b9ab5;
$septimo-color:#b8ac93;
$font-color: #414242;
$color-claro:#e9ebf0;

$color: rosa;

